@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Nunito", sans-serif;
  text-decoration: none;
  list-style: none;
}

.hero-container {
  background-image: url("bg1.png");
  height: 100vh;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
}

.navbar {
  z-index: 999;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.5s;
  width: 100%;
  height: 4rem;
  position: fixed;
  padding-top: 10px;
}
.navbar img {
  margin-left: 8rem;
  width: 7.8rem;
}
.navbar ul {
  margin-right: 8rem;
  display: flex;
  gap: 30px;
}
.navbar ul li a {
  color: black;
  font-size: 1.1 rem;
  font-weight: 500;
}

/* navbar scroll class to add bg to navbar */
.bgColor {
  background-color: white;

  padding-bottom: 14px;

  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* HERO SECTION */

.parent-div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-text-container {
  padding-right: 36px;
}
.hero-img-container {
  padding-left: 36px;
}
.hero-text-container h1 {
  font-size: 46px;
  /* color: red; */
}
.hero-text-container h2 {
  margin-top: 15px;
  font-size: 26px;
  color: #444444;
}
.hero-img-container img {
  /* margin-left: 20px; */
  width: 35rem;
}

.hero-text-container a {
  margin-top: 15px;
}
.button_slide {
  color: black;
  border: 2px solid red;
  border-radius: 100px;
  padding: 5px 10px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: large;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 red;
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
}

.slide_right:hover {
  color: white;
  box-shadow: inset 400px 0 0 0 red;
}

/* practical */

.content {
  height: 10rem;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 14rem;
  align-items: center;
  text-align: center;
}

/* WORKS SECTION */

.service-h1 {
  text-align: center;
  font-size: 38px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.work {
  /* padding-top: 8rem; */
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.work-container {
  z-index: 1;
  width: 22rem;
  /* padding: 50px; */
  /* height: 20rem; */
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  transition: transform 1s; /* Animation */
}

.work-container:hover {
  transform: scale(1.1);
}

p {
  width: 18rem;
  text-align: center;
  /* text-justify: inter-word; */
}
.work-img {
  width: 16rem;
  /* padding: 10px 30px; */
  margin-bottom: 15px;
}

.work-h1 {
  font-size: 24px;
  margin-bottom: 18px;
}
.work-p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #444444;
  margin-bottom: 16px;
}
.mt-24 {
  margin-top: 24px;
}

/* NUMBERS BOX */
/* NUMBERS  */

.numbers {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}
.numbers-left {
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.numbers-left h1 {
  font-size: 32px;
}
.numbers-left p {
  margin-top: 16px;
  font-size: 18px;
  text-align: left;
}

.numbers-right {
  display: grid;
  grid-template-columns: 200px 200px;
  /* grid-row: auto auto; */
  grid-column-gap: 6.5rem;
  grid-row-gap: 1rem;
}

.num-box {
  height: 12rem;
  width: 18rem;
  background: rgba(236, 57, 57, 0.748);
  /* opacity: 28%; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */

  box-shadow: rgba(191, 137, 136, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.num-box-h1 {
  font-size: 64px;
  font-weight: 800;
  color: white;
  opacity: 100%;
}
.num-box-h2 {
  font-size: 22px;
  font-weight: 400;
  color: white;
}

/* clients */

.clientss {
  align-items: center;
  /* background: #e3e3e3; */
  display: flex;
  /* height: 100vh; */
  justify-content: center;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: pr;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}
